$primary-color: #1D2C41;
$secondary-color: #25a8e0;
$secondary-color-darker: #00547b; 
$tertiary-color: #a5a6b0;
$alt-color: #15B097;
$inverse-primary-color: #f8faff;
$inverse-secondary-color: #fff;
$primary-font-stack: "ff-kava-web-pro", Arial, sans-serif;
$secondary-font-stack: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$background-color: #f8faff;
$secondary-background-color: #25a8e0;
$inverse-background-color: #1D2C41;
$inverse-background-color-highlight: #00547b;