$primary-color: #304254;
$secondary-color: #25a8e0;
$secondary-color-darker: #00547b; 
$tertiary-color: #a5a6b0;
$alt-color: #15B097;
$inverse-primary-color: #f8faff;
$inverse-secondary-color: #fff;
$primary-font-stack: "kaffeesatz", Arial, sans-serif;
$secondary-font-stack: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$background-color: #f8faff;
$secondary-background-color: #25a8e0;
$inverse-background-color: #304254;
$inverse-background-color-highlight: #00547b;