/*
 * This is the global stylesheet manifest file.  Files or plugins
 * referenced from here or placed in the application/ directory will be
 * included in all subsites.  This file is included by front.css and all
 * subsites.
 *
 *= require_self
 *= require morris
 *= require bootstrap2-switch
 *= require_tree ./application
 *= require_tree ./picker
*/