@media all and (max-width: 640px) {

body.hoshin .container .collection.areas {
	display: block;
	width: 100%;
}

body.hoshin a:after
{
content: none;
}

body.hoshin .container .collection.areas > .item {
	display: block;
	width: 100%;
}
.ordering-handle {
	display: none;
}

body .container h2.heading {
	font-size: 2em;
}

body .container h4 {
	font-size: 1.7em;
}

body .areas .card.area {
	min-width: inherit;
	width: 100%;
}

}

body h1, body h2, body h3, body h4, body h5, body h6 {
	line-height: 1em;
}

html body {
	font-size: 13px;
	font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.4px;
}

body .navbar .brand {
	font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
}

body .navbar .nav {
	margin: 7px 12px 0 0;
}

body.show-page {
	font-weight: 200;
	background: url(/assets/bg.png) repeat;
}

body a, body a:hover, body a:visited, body a:active {
	color: #25A9E0;
}

body .btn, ul.input-many > li > div.buttons button {
	color: #25A9E0;
}

body a.btn-primary, body a.btn-primary:hover, body a.btn-primary:visited, body a.btn-primary:active {
	color: #fff;
}

body h1, body h2, body h3, body h4, body h5 {
	font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

body h1 {
	font-size: 70px;
}

strong {
	font-weight: 400;
}

body h4 {
	font-size: 34px;
}

body h5 {
	font-size: 20px;
	margin-top: 1.4em;
	font-weight: 400;
}

.area h5 {
	background-color: rgba(37,169,224,.1);
	padding: 5px 5px 6px 5px;
	min-width: 210px;
}

body h2.heading {
	font-weight: 300;
	font-family: 'Yanone Kaffeesatz',
	sans-serif;
	line-height: 1em;
	font-size: 5em;
	margin: 0;
}

.nowrap {
	white-space: nowrap;
}

.header.well {
	border-top: 5px solid #25A9E0;
}

.area h4 {
	font-weight: 200;
	font-family: 'Yanone Kaffeesatz',
	sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 3.5em;
	margin: 0;
}


body.hoshin ul.collection.goals > li {
	display: inline-block;
	margin: 0 5px;
}

body.hoshin .goals h3 {
	font-size: 1em;
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform-origin: 19% 187% 0;
	-moz-transform-origin: 19% 187% 0;
	-ms-transform-origin: 19% 187% 0;
	-webkit-transform-origin: 19% 187% 0;
	width: 200px;
	color: #fff;
}

body.hoshin div.goals {
	background: #f8faff;
	border-left: 2em solid #25A9E0;
	margin-bottom: 10px;
	
}

body.hoshin ul.collection.goals .goal {
	border: 1px solid #25A9E0;
}

body.hoshin .collection.areas {
	display: table; 
	table-layout: auto; 
	width: 100%;
}
body.hoshin
.collection.areas > .item {
	display: table-cell; 
	min-width: 300px;
	width: 100%;
}

body.hoshin .collection.indicators .part-wrapper {
	display: inline-block;
}

body.hoshin div.indicators td, body.hoshin div.indicators tbody, body.hoshin div.indicators thead,
body.hoshin div.indicators tr, body.hoshin div.indicators th {
	margin: 0;
	padding: 5px;
}

body.hoshin form.inline-form {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

body.hoshin form.inline-form input[type=image] {
	width: 20px;
	height: 20px;
}

body.hoshin .content-body img {
	width: 20px;
	height: 20px;
	max-width: 20px;
}
body.hoshin .form-horizontal {
	margin: 0;
}

body .modal .form-horizontal {
	margin: inherit;
}

body.hoshin form.inline-form input {
	border: 0;
	background: rgba(255,255,255,0.8);
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	vertical-align: baseline;
}

body.hoshin form.inline-form input[type=image] {
	vertical-align: bottom;
}

body.hoshin form.inline-form input.date {
	width: 6em;
}

body.hoshin form.inline-*.wider input {
	width: 7em;
}

body.hoshin form.inline-form .actions {
	display: none;
}

body.hoshin form.inline-form div {
	display: inline;
	min-width: 3em;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

body.hoshin form.inline-form label {
	display: none;
}

body.hoshin form.modal div.span12 {
	width: 90%;
}

.icons {
	white-space: nowrap;
}

body.hoshin .image-button.delete-button {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
}

#areas input[type=submit].delete-button {
	background-color: darkred;
	background-image: none;
	color: white;
	text-shadow: none;
	font-weight: 100;
	float: left;
}

div.tasks {
	display: table;
}

div.th {
	display: table-row;
}

body .container {
	width: 100%;
	margin: 0;
}

body .span12 {
	width: 100%;
	margin: 0;
}

span.tpc {
	display: inline-block;
	padding: 2px;
	width: 3.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
	text-align: right;
}

span.arrow {
	font-size: 1.4em;
	font-weight: bolder;
	line-height: 0.5em;
}

span.arrow.positive:after {
	content: "\002191";
}

span.arrow.negative:after {
	content: "\002193";
}

span.arrow.equal:after {
	content: "=";
}

.overdue, .overdue a, .overdue a:hover, .overdue a:visited, .overdue a:active {
	color: red;
	font-weight: 500;
}

.completed, .completed .overdue, .completed a, .completed a:active, .completed a:hover, .completed a:visited {
	color: #999;
	font-weight: 200;
}

.discarded, .discarded .overdue, .discarded a, .discarded a:active, .discarded a:hover, .discarded a:visited {
	color: #999;
	text-decoration: line-through;
	font-weight: 200;
}

body .row {
	margin: 0;
	padding: 0 20px 0 20px;
}

body .well {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #f8faff;
	text-align: left;
	border: 0;
}

.areas .card.area {
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
	-moz-box-shadow: inset 0 1px
	#fff,0 1px 2px #c8cfe6;
	box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
	min-width: 350px;
}

body .navbar-inner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	background-color: #f8faff;
	background-image: none;
	border: 0;
}

.front-page .row {
	margin: 0;
	padding: 0;
}

body .hero-unit {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
}

body .form-search input {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	border: 0;
}

.areas .card.area .header {
	background-color: #25A9E0;
	color: #fff;
	padding: 1em 1em 1em 1.7em;
}

.areas .card.area .header a {
	color: #fff;
}

.areas .card.area .body {
	padding: 1em;
	margin-top: 0;
}

.areas li:last-child .card.area {
	margin-right: 0;
}

.areas li .card.area {
	margin-right: 1em;
}
.ordering-handle br {
	display: none;
}
.value {
	background-color: white;
	border: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	padding: 0 0 0 1em;
}
body div.ordering-handle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: rgba(0,0,0,0.2);
}

div.table.indicators .table-head .table-row div.column:nth-child(3) {
	min-width: 220px;
}

.dashboard .table .odd {
	background-color: rgba(0,50,150,0.1);
}

.edit-page.company .table-head {
	font-weight: bold;
}

.edit-page.company #users form {
	display: inline;
}

body .btn {
	padding: 0 5px;
	border: 0;
	border-top: 1px solid #c7c9d8;
	background-image: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height: 1.5em;
	margin: 0 0.5em;
}

body .btn-primary {
	padding: 0 5px;
	background-color: #25A9E0;
	border: 0;
	border-top: 1px solid #c7c9d8;
	background-image: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height: 1.5em;
	color: #fff;
}

.bubble {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background-color: #e5f6fd;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #25A9E0;
	padding: 1em;
	width: 200px;
	left: 1em;
}
.bubble:after {
	background-color: #e5f6fd;
	box-shadow: -1px 1px 1px 0 rgba( 37, 169, 224, 0.4 );
	content: "\00a0";
	display: block;
	height: 10px;
	left: -5px;
	position: absolute;
	top: 50%;
	transform: rotate( 45deg );
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	width: 10px;
}

form#add-collaborators {
	display: none;
	margin-top: 1em;
}

form#add-collaborators textarea {
	width: 30em;
	height: 10em;
}

.user .content-body .user-image img {
	height: 104px;
	width: 104px;
	border-top-left-radius: 52px;
	border-top-right-radius: 52px;
	border-bottom-right-radius: 52px;
	border-bottom-left-radius: 52px;
	box-shadow: 0px 2px 5px 0px;
	border-top-color: rgb(255, 255, 255);
	border-left-color: rgb(255, 255, 255);
	border-right-color: rgb(255, 255, 255);
	border-bottom-color: rgb(255, 255, 255);
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid
}

.header .logged-in-as img {
	height: 2em;
	width: 2em;
	margin-left: 5px;
}

.column[data-label=Value], .column[data-label=Goal], .column[data-label=Deviation] {
	text-align: right;
}
