@media all and (max-width: 979px) {
	body {
		padding: 0;
	}
	body h1 {
		font-size: 3em;
	}
}

@media all and (max-width: 640px) {

body {
	padding: 0;
}

body h1 {
	font-size: 3em;
}

body.hoshin a:after
{
content: none;
}

body.hoshin .container .collection.areas > .item {
	display: block;
	width: 100%;
}
.ordering-handle {
	display: none;
}

body .container h2.heading {
	font-size: 2em;
}

body h2.heading .title-action {
	font-size: 0.8em;
}

body .container h4 {
	font-size: 1.7em;
}

body .areas .card.area {
	min-width: inherit;
	width: 100%;
}

}

a.external:after {
	content: "\00A0\00A0\f08e";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 0.8em;
	display: inline-block;
	text-decoration: inherit;
}

a {
	-ms-transition: 0.25s;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.social-login {
	text-align: center;
}

.modal h1 {
	font-size: 2em;
	font-weight: 400;
}

.sep, .line.sep {
	margin: 1em auto;
}

html body .btn-big {
	margin: 1em 0;
	height: auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-image: none;
	text-shadow: none;
	padding: 5px 12px;
	border: 0;
	width: 100%;
}

.line {
  display: table;
  vertical-align: baseline;
  position: relative;
  padding: 0 20px;
  margin: auto;
}

.line:before, .line:after {
  content: '';
  display: table-cell;
  width: 100%;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid black;
}

.line:before {
  right: 100%;
}

.line:after {
  left: 100%;
}
.navbar-inner {
	padding: 4px 0;
} 

.change-locale {
	position: absolute;
	top: -10px;
	right: 20px;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
	line-height: 1em;
}

html body {
	font-size: 13px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2f4154;
}

body .navbar .brand {
	font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 35px;
        -o-transition: all 1s;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -ms-transition: all 1s;
	color: #2f4154;
	margin: 0;
}

body .navbar .brand:hover {
	color: #25A9E0;
}

body.show-page {
	font-weight: 200;
	background: url(/assets/bg.png) repeat;
	background-attachment: fixed;
}

ul.input-many > li > div.buttons button {
	color: #25A9E0;
}

body h1, body h2, body h3, body h4, body h5 {
	font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 70px;
}

strong {
	font-weight: 400;
}

body h3 {
	font-size: 34px;
}

body h4 {
	font-size: 28px;
}

body h5 {
	font-size: 20px;
	margin-top: 1.4em;
	font-weight: 400;
}

.area h5 {
	background-color: rgba(37,169,224,.1);
	padding: 5px 5px 6px 5px;
	min-width: 210px;
}

body h2.heading {
	font-weight: 300;
	font-family: 'Yanone Kaffeesatz',
	sans-serif;
	line-height: 1em;
	font-size: 4em;
	margin: 0;
}

h2.heading .title-action {
	font-size: 0.4em;
	margin: 0 15px;
	color: #aaa;
}

h2.heading .title-action:hover {
	color: inherit;
}

.nowrap {
	white-space: nowrap;
}

.header.well {
	border-top: 5px solid #25A9E0;
}

.area h4 {
	font-weight: 200;
	font-family: 'Yanone Kaffeesatz',
	sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 3.5em;
	margin: 0;
}


body.hoshin ul.collection.goals > li {
	display: inline-block;
	margin: 0 5px;
}

body.hoshin .goals h3 {
	font-size: 1em;
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform-origin: left bottom 0;
	-moz-transform-origin: left bottom 0;
	-ms-transform-origin: left bottom 0;
	-webkit-transform-origin: left bottom 0;
	position: absolute;
	left: -0.5em;
	bottom: 0;
	color: #fff;
}

body.hoshin div.goals {
	background: #f8faff;
	border-left: 2em solid #25A9E0;
	margin-bottom: 10px;
	padding: 2em 0;
	position: relative;
}

body.hoshin ul.collection.goals {
	margin: 0;
}

body.hoshin ul.collection.goals .goal {
	border: 1px solid #25A9E0;
	margin: 0;
}

body.hoshin .collection.areas {
	display: table; 
	table-layout: auto; 
}

body.hoshin
.collection.areas > .item {
	display: table-cell; 
	min-width: 270px;
	width: 100%;
}

ul.collection.sortable li.item {
	outline: 1px solid transparent;
}

body.hoshin .collection.indicators .part-wrapper {
	display: inline-block;
}

body.hoshin div.indicators td, body.hoshin div.indicators tbody, body.hoshin div.indicators thead,
body.hoshin div.indicators tr, body.hoshin div.indicators th {
	margin: 0;
	padding: 5px;
}

body.hoshin form.inline-form {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

body.hoshin form.inline-form input[type=image] {
	width: 20px;
	height: 20px;
}

body.hoshin .content-body img {
	width: 20px;
	height: 20px;
	max-width: 20px;
}
body.hoshin .form-horizontal {
	margin: 0;
}

body .modal .form-horizontal {
	margin: inherit;
}

body.hoshin form.inline-form input {
	border: 0;
	background: rgba(255,255,255,0.8);
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	vertical-align: baseline;
}

body.hoshin form.inline-form input[type=image] {
	vertical-align: bottom;
}

body.hoshin form.inline-form input.date {
	width: 6em;
}

body.hoshin form.inline-*.wider input {
	width: 7em;
}

body.hoshin form.inline-form .actions {
	display: none;
}

body.hoshin form.inline-form div {
	display: inline;
	min-width: 3em;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

body.hoshin form.inline-form label {
	display: none;
}

body.hoshin form.modal div.span12 {
	width: 90%;
}

.icons {
	white-space: nowrap;
}

body.hoshin .image-button.delete-button {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
}

.modal-footer-delete input[type=submit].delete-button {
	background-color: darkred;
	background-image: none;
	color: white;
	text-shadow: none;
	font-weight: 100;
	float: left;
}

.parent-link {
	white-space: nowrap;
}

div.tasks {
	display: table;
}

div.th {
	display: table-row;
}

body .container {
	width: 100%;
	margin: 0;
}

body .span12 {
	width: 100%;
	margin: 0;
}

span.tpc {
	display: inline-block;
	padding: 2px;
	width: 3.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
	text-align: right;
}

span.arrow {
	font-size: 1.4em;
	font-weight: bolder;
	line-height: 0.5em;
}

span.arrow.positive:after {
	content: "\002191";
}

span.arrow.negative:after {
	content: "\002193";
}

span.arrow.equal:after {
	content: "=";
}

.overdue, .overdue a, .overdue a:hover, .overdue a:visited, .overdue a:active {
	color: red;
	font-weight: 500;
}

.completed, .completed .overdue, .completed a, .completed a:active, .completed a:hover, .completed a:visited {
	color: #999;
	font-weight: 200;
}

.discarded, .discarded .overdue, .discarded a, .discarded a:active, .discarded a:hover, .discarded a:visited {
	color: #999;
	text-decoration: line-through;
	font-weight: 200;
}

body .row {
	margin: 0;
	padding: 0 20px 0 20px;
}

body .well {
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	background: #f8faff;
	text-align: left;
	border: 0;
}

.areas .card.area {
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
	-moz-box-shadow: inset 0 1px
	#fff,0 1px 2px #c8cfe6;
	box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
	min-width: 350px;
}

body .navbar-inner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
        background: #f8faff url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQIW2PceeKZsbuF1FkGKGCEMTAEYCoxVAAAWc0IBTHROCEAAAAASUVORK5CYII=        ) repeat;
	border: 0;
	border-top: 3px solid #25A9E0;
}

.front-page .row {
	margin: 0;
	padding: 0;
}

body .hero-unit {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
}

body .form-search input {

	border: 0;
	    -moz-border-radius: 0;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

body .form-search input:focus {
	    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.areas .card.area .header {
	background-color: #25A9E0;
	color: #fff;
	padding: 1em 1em 1em 1.7em;
}

.areas .card.area .header a {
	color: #fff;
}

.areas .card.area .body {
	padding: 1em;
	margin-top: 0;
}

.areas li:last-child .card.area {
	margin-right: 0;
}

.areas li .card.area {
	margin-right: 1em;
	border-top: 4px solid #25A9E0;
}
.ordering-handle br {
	display: none;
}
.value {
	background-color: white;
	border: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	padding: 0 0 0 1em;
}
body div.ordering-handle {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.2);
}

.loading {
        background: url(/assets/ajax-loader.gif) no-repeat;
	width: 16px;
	height: 16px;
	margin: auto;
}

.help-block.description-help {
	white-space: normal;
}

.area div.table.indicators .table-head .table-row div.column:nth-child(3) {
	min-width: 220px;
}

.dashboard .table .odd {
	background-color: rgba(0,50,150,0.05);
}
.dashboard .table .even {
	background-color: rgba(0,50,150,0.1);
}

.edit-page.company .table-head {
	font-weight: bold;
}

.edit-page.company #users form {
	display: inline;
}

.btn.area-link {
	padding: 2px 8px;
}

.header.well .btn {
        margin: 0 3px;
}

a, a:hover, a:active {
	color: #25A9E0;
}

.btn {
  color: #2f4154;
  background-color: #f5f5f5;
  text-shadow: none;
  background-image: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  border: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  color: #2f4154;
  background-color: #fff;
  border-color: #f5f5f5;
}
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  background: #e0e0e0;
  border-color: #f5f5f5;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn:active,
.btn.disabled.active,
.btn[disabled].active,
fieldset[disabled] .btn.active {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}

.btn-primary {
  color: #ffffff;
  background-color: #25A9E0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #5FC3ED;
  border-color: #5FC3ED;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: #0690C9;
  border-color: #0690C9;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #25A9E0;
  border-color: #25A9E0;
}


.bubble {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background-color: #e5f6fd;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #25A9E0;
	padding: 1em;
	width: 200px;
	left: 1em;
}
.bubble:after {
	background-color: #e5f6fd;
	box-shadow: -1px 1px 1px 0 rgba( 37, 169, 224, 0.4 );
	content: "\00a0";
	display: block;
	height: 10px;
	left: -5px;
	position: absolute;
	top: 50%;
	transform: rotate( 45deg );
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	width: 10px;
}

.bubble.bubble-top:after {
	box-shadow: -1px -1px 1px 0 rgba( 37, 169, 224, 0.4 );
	left: 50%;
	top: -5px;
}
.description-help.bubble {
	margin-top: 10px;
}

form#add-collaborators {
	display: none;
	margin-top: 1em;
}

form#add-collaborators textarea {
	width: 30em;
	height: 10em;
}

.user-image img {
	border-radius: 52px;
}

.user .bootstrap-content .user-image img {
	height: 104px;
	width: 104px;
	border-top-left-radius: 52px;
	border-top-right-radius: 52px;
	border-bottom-right-radius: 52px;
	border-bottom-left-radius: 52px;
	box-shadow: 0px 2px 5px 0px;
	border-top-color: rgb(255, 255, 255);
	border-left-color: rgb(255, 255, 255);
	border-right-color: rgb(255, 255, 255);
	border-bottom-color: rgb(255, 255, 255);
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid
}

.header .logged-in-as img {
	height: 2em;
	width: 2em;
	margin-left: 5px;
}

.column[data-label=Value], .column[data-label=Goal], .column[data-label=Deviation] {
	text-align: right;
}

.dropdown-menu {
	background-color: #34495e;
	color: #e1e4e7;
	border: none;
	display: block;
	margin-top: 8px;
	opacity: 0;
	padding: 0;
	visibility: hidden;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
	padding: 3px 4px;
}

.datepicker.dropdown-menu, .typeahead.dropdown-menu {
	visibility: visible;
	opacity: 1;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.dropdown-menu > li > a {
	color: #e1e4e7;
}

.open > .dropdown-menu {
  margin-top: 18px !important;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
	.navbar-nav > li > .dropdown-menu {
		-webkit-transition: all 0s;
		-moz-transition: all 0s;
		transition: all 0s;
		display: none;
	}
}
@media (max-width: 767px) {
  .navbar-nav > li.open > .dropdown-menu {
    margin-top: 0 !important;
    display: block;
  }
}
.navbar .nav > li > .dropdown-menu:before {
	border-style: solid;
	border-width: 0 8px 7px;
	border-color: transparent transparent #34495e transparent;
	height: 0;
	margin-top: 0;
	opacity: 0;
	position: absolute;
	right: 19px;
	top: 100%;
	width: 0;
	z-index: 10;
	-webkit-transform: rotate(360deg);
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}

.navbar .nav > li > .dropdown-menu:after {
content: '';
border-width: 0 8px 7px;
border-color: transparent transparent #34495e transparent;
display: inline-block;
position: absolute;
top: -6px;
right: 10px;
width: 0;
}

.navbar .nav > li > a {
  font-size: 1.1em;
  padding: 15px 15px;
  line-height: 23px;
  font-weight: 700;
  text-shadow: none;
}

.navbar .nav li.dropdown > a:hover .caret {
	border-top-color: #25A9E0;
	border-bottom-color: #25A9E0;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #25A9E0;
	color: #ffffff;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: #25A9E0;
	outline: none;
}

.form-search {
	margin: 0;
}

.navbar .nav .form-search {
	padding: 15px 15px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background-color: #25A9E0;
	color: #fff;
	background-image: none;
}

.dropdown-menu > li > a {
	border-radius: 4px;
	padding: 6px 9px;
	background-image: none;
}

.dropdown-menu .divider {
	background-color: #2f4154;
	height: 2px;
	margin-left: -4px;
	margin-right: -4px;
	border: 0;
}

.fa-plus-small:after {
	content: "\f067";
	margin-left: -0.7em;
	font-size: .6em;
	text-shadow: -1.5px -1.5px 0 #f8faff, 0.5px -1.5px 0 #f8faff, -1.5px 1.5px 0 #f8faff, 1.5px 1.5px 0 #f8faff;
}

.hoshin-tasks span {
	font-size: 1.5em;
	color: #aaa;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.hoshin-tasks:hover span {
	color: #000;
}

.link, .link:focus, .link:active {
	background: none;
	border: 0;
	outline: none;
	box-shadow: none;
}

body.collaborators td.controls button {
	font-size: 1.6em;
}

.panel {
border: none;
box-shadow: none;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.panel-heading {
	border-color: #eff2f7;
	font-size: 13px;
	font-weight: 400;
	background: #f8faff;
	text-transform: uppercase;
	padding: 15px;
}

.panel-body {
	padding: 15px;
}

.timeline, .timeline * {
	box-sizing: border-box;
}

ul.timeline {
  position: relative;
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

ul.timeline:after {
  content:"";
  z-index: 1;
  position: absolute;
  left: 10px;
  top:0;
  width: 4px;
  margin-left: -2px;
  min-height: 100%;
  background-color: #eee;
}

ul.timeline li {
  z-index: 2;
  position: relative;
  float: left;
  margin: 10px 0;
 
}

ul.timeline li.box {
  background-color: #eee;
  padding: 20px;	
}

ul.timeline li {
  float: left;
  clear: left;
  margin-left: 30px;
}

ul.timeline li.right {
  float: right;
  clear: right;
}

ul.timeline li.highlight {
  float: none;
  clear: both;
  width: auto;
  border: 5px solid #fff;
}

/* arrow */

ul.timeline li.box:before {
  content:"";
  z-index: 1;
  position: absolute;
  top: 14px;
  right: -6px;
  left: -6px;
  width: 12px;
  height: 12px;
  background-color: #eee;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul.timeline li.left:before {
  left: auto;
}

ul.timeline li.right + li.left:before,
ul.timeline li.left + li.right:before {
  top: 36px;
}

ul.timeline li.highlight:before {
  left: 50%;
  margin-left: -6px;
  right: auto;
  top: -6px;
}

/* dot */

ul.timeline li:after {
  content:"";
  z-index: 1;
  position: absolute;
  top: 4px;
  right: -27px;
  left: -27px;
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-radius: 100%;
  background-color: #ccc;
  transition: .2s;
}

ul.timeline li.box:after {
  top: 14px;
}

ul.timeline li:hover:after {
  background-color: #999;
  top: 2px;
  right: -29px;
  left: -29px;
  width: 12px;
  height: 12px;
}

ul.timeline li.box:hover:after {
  top: 12px;
}

ul.timeline li.left:after {
  left: auto;
}

ul.timeline li.right + li.left:after,
ul.timeline li.left + li.right:after {
  top: 36px;
}

ul.timeline li.right + li.left:hover:after,
ul.timeline li.left + li.right:hover:after {
  top: 34px;
}

ul.timeline li.right:after {
  right: auto;
}

ul.timeline li.highlight:after {
  left: 50%;
  margin-left: -7px;
  right: auto;
  top: -24px;
}

ul.timeline li.highlight:hover:after {
  margin-left: -9px;
  top: -26px;
}

.half {
	float: left;
}

.panel-heading strong {
	font-weight: 700;
}

.panel-heading .lower {
	text-transform: none;
}

.inline {
	display: inline-block;
	vertical-align: middle;
}

.inline + .inline {
	margin-left: 15px;	
}

.user .edit-image {
	position: relative;
}

.user .edit-image div {
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(78,144,254,.7);
	text-align: center;
	width: 100%;
	color: #fff;
}

.user .edit-image a {
	color: #fff;
}

.user .edit-image .user-image img {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border: 0;
}

body.show-page.user #companies .form-horizontal {
	display: inline-block;
	vertical-align: bottom;
}
