@import "colors";

table.bill {
        width: 100%;
        border-collapse: collapse;
        
        thead {
                #bill-total-row {
                        width: 110px;
                }
                th#bill-price, th#bill-quantity, th#bill-proportion, th#bill-total-row {
                        text-align: right;
                }
                tr {
                        border-bottom: 1px solid #ddd;
                }

        }
        tbody {
                th {
                        font-weight: normal;
                }
                &:before {
                        content: "-";
                        display: block;
                        line-height: 1em;
                        color: transparent;
                }
                td {
                        text-align: right;
                }

        }
        tfoot {
                &:before {
                        content: "-";
                        display: block;
                        line-height: 1em;
                        color: transparent;
                }
                tr {
                        line-height: 3em;
                        border: 1px solid #ddd;
                        border-width: 1px 0 1px 0;
                }
                td,th {
                        text-align: right;
                }

        }

}

body.checkout {
        .aside-column {
                padding-top: 13px;
        }
        
        form.payment {
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
                max-width: none;

                .btn-group {
                        margin: auto;
                        display: block;
                        text-align: center;
                        .circle, .check {
                          display: none;
                        }
                        &> .radio label {
                                border: 1px solid #ddd;
                                height: 100px;
                                width: 200px;

                                &.active {
                                        background-color: #fafafa;
                                        background-image: -webkit-linear-gradient(top, #eee 0%, #fafafa 100%);
                                        background-image: -o-linear-gradient(top, #eee 0%, #fafafa 100%);
                                        background-image: linear-gradient(to bottom, #eee 0%, #fafafa 100%);
                                        background-repeat: repeat-x;
                                        &:after {
                                                content: "\0f046";
                                        }

                                }
                                &:after {
                                        content: "\0f096";
                                        position: absolute;
                                        left: 0.5em;
                                        top: 0;
                                        font-family: 'hoshinplan';
                                        font-size: 2em;
                                        vertical-align: middle;
                                        width: 1em;
                                        color: $secondary-color;
                                }
                        }

                }
                .btn-group > .radio {
                  display: inline;
                }
                .btn-group > .radio label {
                  cursor: pointer;
                  font-weight: 500;
                  text-transform: uppercase;
                  letter-spacing: 0;
                  display: inline-block;
                  margin-bottom: 0;
                  text-align: center;
                  vertical-align: middle;
                  touch-action: manipulation;
                  background-image: none;
                  white-space: nowrap;
                  padding: 6px 12px;
                  font-size: 14px;
                  line-height: 1.42857143;
                  border-radius: 4px;
                  user-select: none;
                }

        }
        h3 + input + h3 {
            margin-top: 95px;
        }
        .sticky-payment {
                margin: 10px 0;
        }
        .payment-wrapper {
                background-color: #fff;
                min-height: 10em;
        }
        .card-wrapper {
                margin: 1em 0;
        }
        .powered-stripe {
                margin-top: 1em;
                text-align: center;
                span {
                        font-size: 150%;
                        color: rgba(0,0,0,0.25);
                }

        }

}

@media (max-width: 979px) {
        body.checkout {
                .payment-wrapper {
                        position: static;
                }

        }

}
