@import "colors.scss";

#cms {
	padding: 0 20px;
}

#cms ul {
	padding: 40px;
	&.timeline {
		padding: 0;
	}
}

body.legal #cms ul {
	padding: 0 40px;
}

#cms h2 {
	max-width: 1000px;
	margin: auto;
	margin-top: 1em;
	font-weight: 400;
	font-size: 1.6em;
}

#cms h1 {
	margin: auto;
}


#cms footer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 10px;
}

#cms #enum {
  background: $inverse-background-color;
  color: $inverse-primary-color;
  display: block;
  text-align: center;
  margin: 0 -50px;
  padding: 150px 0;

  h2 {
    margin: 0 auto 3em auto;
    font-size: 3em;
    text-align: center;
    font-family: $secondary-font-stack;
    font-weight: 800;
    color: $inverse-primary-color;

    &:after {
      content: "";
      width: 10%;
      display: block;
      margin: 10px auto 0 auto;
      border-bottom: 4px solid $secondary-color;
    }
  }
}

@media screen and (max-width: 979px) {
  #cms #enum {
    margin: 0 -35px;
  }
}

#cms #enum ol {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

#cms #enum li {
  margin: 15px;
  position: relative;
  background-image: none;
  list-style-type: none;
  min-height: 40px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: inline-block;
  width: 25%;
  max-width: 24em;
  min-width: 16em;
  vertical-align: text-top;
}

#cms #enum li h3 {
	font-size: 3em;
	font-weight: 700;
}

#cms #enum li p {
	font-size: 1.3em;
	color: #939daa;
}

#cms #enum li:before {
	color: #25A9E0;
	font-size: 150px;
	top: 7px;
}

#cms #enum a {
	font-size: 2em;
	line-height: 1.5em;
}

#cms .quotes {
	text-align: center;
}

.claim {
  margin: 0 -50px 0 -50px;
  text-align: center;
  color: #fff;
  background: linear-gradient(
                  rgba(0, 0, 0, 0.7),
                  rgba(0, 0, 0, 0.7)
  ), image-url('hoshinplan-header.jpg') no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.front-page .navbar-default {
  a {
    color: #fff;
    &.btn {
      border: 2px solid transparent;
      &.btn-raised {
        border-color: #fff;
        background: transparent;
      }
    }
  }
}

.claim .span12 {
  position: relative;
  min-height: 1px;
  margin-top: 5em;
}

@media all and (min-width: 750px) {

  .claim {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(122deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 1)),
      image-url('hoshinplan-header.jpg') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }

  .claim .span12 {
    width: 40%;
    max-width: 450px;
    position: absolute;
    left: 60%;
    right: 0;
    top: 7.5vw;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.claim .btn {
	font-size: 2em;
	line-height: 1.5em;
	margin-top: 1em;
}

.inner-bg {
	padding: 55px 0 60px 0;
	-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.claim h1 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.claim h2 {
	margin-top: 20px;
	font-size: 18px;
	line-height: 36px;
	text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

#cms .quotes {
  margin: 0 -50px 0 -50px;
  background: #f8faff asset-url("bg-shadow.png") repeat-x 0 0;
  padding: 40px 0;

  h2 {
    margin: 3em auto;
    font-size: 3em;
    text-align: center;
    font-family: $secondary-font-stack;
    font-weight: 800;

    &:after {
      content: "";
      width: 10%;
      display: block;
      margin: 10px auto 0 auto;
      border-bottom: 4px solid $secondary-color;
    }
  }
}

#cms .quotes footer {
	bottom: -40px;
}

#cms blockquote {
  font-size: 1.5em;
  margin: 0 1em 60px 1em;
  padding: 0;
  position: relative;
  display: inline-block;
  border: 0;
  opacity: 0;
  &.inViewPort {
    opacity: 1;
  }
}

#cms blockquote:after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 500ms ease-in-out 1s;
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

#cms blockquote.inViewPort:after {
  opacity: 1;
}

#cms blockquote p {

  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 350px;
  padding: 0px;
  background: #fff;
  font-size: .9em;
  overflow: hidden;
  clip-path: padding-box;
  background: transparent;
  color: $inverse-primary-color;
  border-radius: 10px;

  span:before, span:after {
    content: open-quote;
    position: absolute;
    z-index: 1;
    font-size: 200px;
    color: rgba(0, 0, 0, 0.1);
    left: -39px;
    top: -100px;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
  }

  span:after {
    content: close-quote;
    left: initial;
    top: initial;
    right: 0;
    bottom: 0;
  }

  span {
    position: relative;
    z-index: 2;
    font-family: serif;
    font-size: 1.2em;
    font-style: italic;
    display: block;
    background-color: $secondary-background-color;
    padding: 2em 2em 12em 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: .1px; //Fixing bug in safari that showed a small border
  }

  cite {
    display: block;
    position: absolute;
    width: 400%;
    height: 400%;
    background: $background-color;
    border-radius: 50%;
    bottom: -360%;
    left: -150%;
    z-index: 4;
    padding-top: 5em;
    color: $primary-color;
    -webkit-transition: all 1250ms ease 150ms;
    -moz-transition: all 1250ms ease 150ms;
    -ms-transition: all 1250ms ease 150ms;
    -o-transition: all 1250ms ease 150ms;
    transition: all 1250ms ease 150ms;
    -ms-transform: scale(4);
    -moz-transform: scale(4);
    -webkit-transform: scale(4);
    transform: scale(4);
  }

  img {
    position: absolute;
    left: 50%;
    bottom: 40%;
    border-radius: 50%;
    z-index: 5;
    width: 100px;
    border: 3px solid #fff;
    -ms-transform: translateX(-50%) translateY(50px) scale(0);
    -moz-transform: translateX(-50%) translateY(50px) scale(0);
    -webkit-transform: translateX(-50%) translateY(50px) scale(0);
    transform: translateX(-50%) translateY(50px) scale(0);
    -webkit-transition: all 1250ms ease 500ms;
    -moz-transition: all 1250ms ease 500ms;
    -ms-transition: all 1250ms ease 500ms;
    -o-transition: all 1250ms ease 500ms;
    transition: all 1250ms ease 500ms;
    opacity: 0;
  }
}

#cms .quotes blockquote.inViewPort {
  img {
    -ms-transform: translateX(-50%) translateY(50px) scale(1);
    -moz-transform: translateX(-50%) translateY(50px) scale(1);
    -webkit-transform: translateX(-50%) translateY(50px) scale(1);
    transform: translateX(-50%) translateY(50px) scale(1);
    opacity: 1;
  }

  cite {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#cms .product-pitch {
  margin: 0em -50px;
  padding: 0;
  background: #fff;

  h2 {
    margin: 3em auto;
    font-size: 3em;
    text-align: center;
    font-family: $secondary-font-stack;
    font-weight: 800;

    &:after {
      content: "";
      width: 10%;
      display: block;
      margin: 10px auto 0 auto;
      border-bottom: 4px solid $secondary-color;
    }
  }

  h3 {
    font-size: 2.5em;
    font-weight: 800;
    font-family: $secondary-font-stack;
    display: flex;
    align-items: center;

    em {
      color: $secondary-color;
      font-size: 2.4em;
      margin-right: 0.5em;
    }
  }

  p {
    font-size: 1.5em;
  }
}
#cms .pitch #slide3.team {
	padding: 0;
	margin-bottom: 2em;
	background: transparent;
}
#cms .pitch .slide.team h2 {
	font-family: "Yanone Kaffeesatz", Arial, sans-serif;
}

body.tutorial #tutorial-close {
	display: none;
}

@media all and (max-width: 640px) {

	#cms .quotes {
		margin: 0;
	}

	#cms .claim, #cms .product-pitch, #cms .quotes, #cms #enum {
		margin: 0;
	}

	#cms .product-pitch {
		padding: 0 10px;
	}

	#cms .inner-bg {
		padding: 45px 0 50px 0;
	}

	#cms .claim h1 {
		font-size: 36px;
		padding: 0 20px;
	}

	#cms .claim h2 {
		padding: 0 20px;
	}

	#cms {
		padding: 0;
	}

	#cms img {
		width: 100%;
	}

}


@media only screen and (max-width: 750px) {
  #cms .product-pitch, #cms #enum, #cms .quotes {
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 2em;
    }
  }
}