
/* ----------------------------------------------------------------------------------------------------------------------------
== ICONS STYLES
** ---------------------------------------------------------------------------------------------------------------------------- */

ul.icons {
    padding:0;
    margin:0;
}

ul.icons li {
    
    list-style:none;
    padding:0;
    margin: 0 0.2em 0 0.2em;
	display: inline-block;
}

ul.icons a {
    text-decoration: none;
}

