@media print {
	* {
		background-image: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	.navbar, div.ordering-handle, body .btn, .parent-link, ul.icons {
		display: none;
	}
	div.ordering-handle, .column.ordering {
		display: none;
	}
	.card.area {
		border: 1px solid black;
	}
	.well, .well .header, .well .header a {
		background: transparent !important;
		color: #000 !important;
	}
	body a, body a:visited {
		color: #000;
	}
	.input {
		border: 0 !important;
	}
	.overdue input {
		color: red;
	}
	.tasks-wrapper, .indicators-wrapper{
		margin-top: 5px;
		
	}
	.area h5 {
		background-color: transparent;
		border-bottom: 1px solid black;
	}
	.well .header {
		border-bottom: 1px solid black;
	}
	body a,
	body a:visited {
		text-decoration: none;
	}
	body a[href]:after {
		content: ""
	}
	
	body.hoshin .collection.areas {
		table-layout:fixed;
	}
	@page {
		size: A4 landscape;
	}
}