@media screen {
	.only-print {
		display: none;
	}
}
@media print {
	
	.table .table-row {
		page-break-inside: avoid;
	}
	
	body {
		background: white !important;
	}
	body .table.tasks * {
		border: 0 !important;
	}
	.modal {
		display: none !important;
	}
	.content-header {
		margin: 0 !important;
	}
	h2 * {display: inline !important;}
	h2 #sec-actions {display: none !important;}
	.carousel {
		display: none;
	}
	* {
		background-image: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	
	div.table div.column[data-label="Feeling"] {
		text-align: center;
		width: 1em;
	}
	
	div.table div.column[data-label="Actions"], div.table div.column[data-label="Status"] {
		display: none;
	}
	
	.ic-smile:before {
		font-family: "Courier New", Courier, Fixed, monospace;
		display: inline-block;
		content: "\263a";
		font-size: 1.7em;
	}
	
	.ic-wondering:before {
		font-family: "Courier New", Courier, Fixed, monospace;
		display: inline-block;
		content: "\2687";
		font-size: 1.9em;
	}
	
	.ic-sad:before {
		font-family: "Courier New", Courier, Fixed, monospace;
		display: inline-block;
		content: "\2639";
	        font-size: 1.4em;
	}
	.picker {
		display: none !important;
	}
	
	body a.add-chart {
		display: none;
	}
	
	.charts-tabs li {
		display:none;
	}
	.charts-tabs li.active {
		display:list-item;
	}
	.chart-panel button.close {
		display: none;
	}
	h2 small {
		display: inline;
	}
	
	.well {
		border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		-webkit-border-radius: 0 !important;
	}

	.no-print, .navbar, div.ordering-handle, body .btn, .parent-link, ul.icons, .title-action, .footer {
		display: none;
	}
	
	div.ordering-handle, .column.ordering {
		display: none;
	}
	.card.area {
		border: 1px solid black;
		font-size: 0.8em;
	}
	.card.area input {
		border: 0;
		font-size: 1em;
		border-style: none;
	}
	.well, .well .header, .well .header a {
		background: transparent !important;
		color: #000 !important;
	}
	body a, body a:visited {
		color: #000;
	}
	textarea:hover, 
	input:hover, 
	textarea:active, 
	input:active, 
	textarea:focus, 
	input:focus,
	button:focus,
	button:active,
	button:hover {
		border: 0 !important;
		border-style: none !important;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		outline:0px !important;
		-webkit-appearance:none;
	}
	.overdue input {
		color: red;
	}
	.tasks-wrapper, .indicators-wrapper{
		margin-top: 5px;
		
	}
	.area h5 {
		background-color: transparent;
		border-bottom: 1px solid black;
	}
	.well .header {
		border-bottom: 1px solid black;
	}
	body a,
	body a:visited {
		text-decoration: none;
	}
	body a[href]:after {
		content: ""
	}
	
	body.hoshin #goals .well {
		padding: 0;
		border: 0;
	}
	
	body.hoshin .goals h3 {
		font-size: 1.8em;
		position: static;
		float: left;
		margin: 0 0 0 1em;
		color: #000;
	}
	
	body.hoshin .goals ul {
		float: left;
	}
	
	body.hoshin h4, body.hoshin h2.heading, body.hoshin .goals h3 {
		font-weight: 300;
	}
	
	body.hoshin .area h4 {
		font-size: 2.5em;
	}
	
	body.hoshin .area h5 {
		font-size: 1.5em;
	}
	
	body.hoshin ul.collection.goals > li {
		float: left;
		list-style-type: decimal;
		display: list-item;
		list-style-position: inside;
	}
	
	body.hoshin ul.collection.goals > li > div.goal, body.hoshin ul.collection.goals > li > div.goal > div {
		display: inline;
	}
	
	body.hoshin ul.collection.goals > li:after {
		margin-left: 1em;
		content: "|";
	}
	body.hoshin ul.collection.goals > li:last-child:after {
		content: "";
	}
	body.hoshin ul.collection.goals .goal {
		border: 0;
		margin: 0;
		padding: 0;
	}
	body.hoshin .goals .goal {
		border: 0 0 0 1px;
		border-color: #000;
	}
	
	body.hoshin .container
	.collection.areas > .item {
		display: table-cell;
	}
	
	#sec-actions {
		display: none;
	}
	
	
	
	@page {
		size: A4 landscape;
	}
}