/* seo friendly tables */
body .table {
	display:table;	/* Defines a Table */
	width: 100%;
	margin-bottom: 0;
}
.table-head{
	 display: table-header-group; /* Defines a table header group */
	 font-weight: 400;
}
.table-body {
	display: table-row-group;  /* Defines a table body */
}
.table-row {
	display:table-row; /* Defines a table row */
	line-height: 1.8em;
}
.column{
	display:table-cell; /* Defines a table cell */
	padding-right: 12px;
}
.table .ordering-handle {
	line-height: 14px;
	font-size: 9px;
}
/* Responsive table */
@media screen and (max-width: 640px){
	.table,
	.table-row,
	.column,
	.column:before{
		display:block;	/* Converts a table, table row, table column and table column:before into a block element */
	}
	.table,
	.table-row .column:last-child{
		border-bottom:none;
	}
	.table-head{
		position:absolute;	/* Hides table head but not using display none */
		top:-1000em;
		left:-1000em;
	}
	.table-body {
		display: block;
	}
	.table-row{
		border:1px solid #eeeeee;
		border-top:2px solid #dddddd;
		border-bottom:2px solid #dddddd;
		margin:20px 0;
	}
	.table-row .column:nth-child(1){ /* first column of the row */
		border-left:none;
	}
	.table-row .column:last-child{ /* last column of the row */
		border-right:none;
	}
	.table-row:last-child .column,
	.column{ /* Column in the last row and column */
		border-bottom:1px solid #eeeeee;
	}
	.column:before{ /* prints the value of data-label attribute before the column data */
		font-weight:400;
		padding-right:20px;
		font-size:12px;
		content:" "attr(data-label)":";	/* call the attribute value of data-label and adds a string // */
	}
}